@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    color: hsl(0, 0%, 41%);
    font-size: 1.125rem;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
}

main {
    max-width: 90rem;
    width: 100%;
}

footer {
    display: none;
}

li {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    left: 5rem;
    top: 3.75rem;
    background-color: #fff;
    max-width: 10.625rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.625rem;
    padding: 0.625rem;
    display: none;
}

.img-and-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
}

.img-and-link img {
    max-width: 1.0625rem;
    max-height: 1.0625rem;
}

#todolist-id a {
    padding: 0.625rem;
}

#myDropdown_1 {
    padding-left: 1.25rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-65%, 10%);
    justify-content: flex-start;
}

#myDropdown_2 {
    font-size: 0.9375rem;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 12%)
}

.dropdown-content a {
    color: hsl(0, 0%, 41%);
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

.show {display:block;}

.hamburder-menu {display: none;}

.navbar-buttons{
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625rem;
    color: hsl(0, 0%, 41%);
}

nav img {
    width: 100%;
    max-width: 5rem;
    max-height: 1.5rem;
    height: 100%;
}

.openbtn {
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: auto;
    margin-left: 1.5625rem;
}

ul li {
    align-items: center;
    margin-left: 1.5625rem;
}

button:hover {
    color: hsl(0, 0%, 8%);
}

li img {
    max-height: 0.375rem;
    max-width: 0.625rem;
    height: 100%;
    width: 100%;
}

#features-btn {
    margin-right: 0.3125rem;
}

#company-btn {
    margin-right: 0.3125rem;
}

.text-and-arrow {
    display: flex;
    align-items: center;
}

.arrow_hidden {
    display: none;
}

.arrow_visible {
    display: inline-block;
}

button {
    color: hsl(0, 0%, 41%);
    font-size: 0.9375rem;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

/* .login-register {
    margin-top: -0.5625rem;
} */

.no-border-btn {
    border: none;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
}

.register-btn {
    cursor: pointer;
    padding: 0.5625rem 0.875rem 0.5625rem 0.875rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    margin-right: 0.3125rem;
    margin-left: 1.5625rem;
}

.register-btn:hover {
    color:hsl(0, 0%, 8%);
    border: 0.0625rem solid hsl(0, 0%, 8%);
}

section {
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    /* padding-bottom: 5.625rem; */
    /* margin: auto 3.125rem auto 5.625rem; */
}

.right-section img {
    max-width: 59.375rem;
    max-height: 40.625rem;
    width: 100%;
    height: 100%;
}

.left-section {
    max-width: 29.375rem;
    margin-top: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-right: 2.5rem;
    /* margin-left: 3.75rem;
    margin-left: 1.875rem; */
}

#big-text {
    font-size: 4.375rem;
    text-align: left;
    /* padding-right: 1.875rem; */
    color: hsl(0, 0%, 8%);

}

.sect-text {
    margin-right: auto;
    padding-right: 2.5rem;
    margin-top: 3.4375rem;
    margin-bottom: 3.75rem
}

.learn-more {
    max-width: 9.375rem;
    padding: 0.9375rem 0 0.9375rem 0;
    border-radius: 0.75rem;
    border: 0.0625rem solid hsl(0, 0%, 8%);
    cursor: pointer;
    color: white;
    background: hsl(0, 0%, 8%);
    font-weight: 800;
    margin-bottom: auto;
    /* margin-top: 3.125rem */
}

.learn-more:hover {
    background-color: #fff;
}

.section-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 27.5rem;
    max-height: 1.25rem;
    height: 100%;
    width: 100%;
}


.closebtn {display: none;}



@media screen and (max-width: 1070px) {
    .sect-text {
        margin: 2.5rem auto 2.5rem auto;
    }

    .learn-more {
        margin-bottom: 5rem;
    }

    .left-section {
        max-width: 25rem;
    }

    .section-logos img {
        max-width: 3.75rem;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .left-section {
        max-width: 20.625rem;
    }
}

@media screen and (max-width: 850px) {
    /* .hidden {display: none} */

    .closebtn {display: block;}

    .hamburder-menu {
        display: block;
        width: 100%;
        max-width: 2.1875rem;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        margin-bottom: 1.25rem;
    }

    .left-section {
        margin: 0;
        width: 100%;
        max-width: 47.625rem;
        text-align: center;
    }

    .left-section p {
        margin: 0;
        padding: 0.625rem;
        padding-top: 1.25rem;
    }

    #big-text {
        /* font-size: 3.4375rem; */
        font-size: 9vw;
        text-align: center;
        margin-top: 3.125rem;
        padding: 0 0.625rem 0 0.625rem;
    }

    .learn-more {
        text-align: center;
        align-self: center;
        width: 12.5rem;
        margin-top: 1.25rem;
        margin-bottom: 3.125rem;
    }

    .section-logos {
        align-self: center;
        margin-bottom: 3.75rem;
        padding: 0 0.625rem 0 0.625rem;
    }

    .section-logos img {
        padding-left: 0.625rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    ul li {
        display: flex;
        margin: 0.625rem 0 0.625rem 0;
        /* align-items: left; */
        text-align: left;
        justify-content: space-between;
        background-color: #fff;
    }

    .no-border-btn {
        background-color: #fff;
    }

    .login-register {
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem;
        margin: 1.25rem 1.5rem;
    }

    .login-register button {
        margin-bottom: 0.625rem;
        background-color: #fff;
        text-align: center;
    }

    .register-btn {
        margin: 0rem;
        margin-top: 0.5rem;
    }

    .navbar-buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 120vh;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 0;
        top:0;
        right:0;
        background-color: #fff;
        /* padding: 1.25rem; */
        /* transition: 0.5s; */
    }

    .text-and-arrow {
        justify-content: flex-start;
    }

    .sidebar {
        width: 70%;
    }

    .dropdown-content a {
        color: hsl(0, 0%, 41%);
        padding: 0;
        margin: 0.8125rem 0;
    }

    .closebtn {
        cursor: pointer;
        width: 1.875rem;
        align-self: flex-end;
        margin-right: 1.6875rem;
        margin-top: 1.25rem;
    }

    #myDropdown_1 {
        padding-left: 1.25rem;
        text-align: left;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(-0%, 0%);
        justify-content: left;
        box-shadow: none;
    }

    ul {
        margin-top: 30px;
    }

    ul li {
        align-items: flex-start;
    }

    #myDropdown_1 a {
        padding-left: 0.625rem;
    }

    #reminds-id a {
        margin-left: 0.3125rem;
    }

    #todolist-id a {
        padding: 0;
        margin: 0;
        margin-left: 0.625rem;
        margin-top: 0.9375rem;
        margin-bottom: 0.9375rem;
    }

    #myDropdown_2 {
        padding-left: 1.25rem;
        text-align: left;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(-0%, 0%);
        justify-content: left;
        box-shadow: none;
    }

    .img-and-link {
        justify-content: flex-start;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #about-btn {
        align-self: flex-start
    }

    #careers-btn {
        align-self: flex-start
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.459);
        opacity: 1;
        width: 30%;
        height: 120vh;
        display: none;
    }
    

}


