.rotateUp{
    animation-name: firstRotate;
    animation-duration: 0.25s;
    /* Things added */
    // animation-iteration-count: 1;
    // transform-origin: 50% 50%;
    // display: inline-block;
    /* <--- */
}

@keyframes firstRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

.rotateDown{
    animation-name: secondRotate;
    animation-duration: 0.25s;
    /* Things added */
    animation-iteration-count: 1;
    // transform-origin: 50% 50%;
    // display: inline-block;
    /* <--- */
}

@keyframes secondRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}